body{
	background-color: #dcdcdc
}
#masthead{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 30pt;
	text-align: center;
}
#mastheadmotto{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 20pt;
	text-align: center;
}
ul{
	
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12pt;
	list-style-type: none;
	text-align: center
}
li{
	display:inline;
	padding:10px;
}
a{
	
	color:black;
	font-family: Georgia;
	font-size: 11pt;
	text-decoration: none
}
#leadstory{
	font-family: Georgia;
	font-size: 18pt;
	font-style: italic;
	text-align: left;
}
h2{
	font-family: Georgia;
	font-size: 14pt;
	text-align: left
}
address{
	font-family: Georgia;
	font-size: 9pt;
	text-align: justify;
}
img{
	margin-top: 15px
}
figure,figcaption {
	display: block;
	font-family: Georgia; 
	font-size: 10pt;
	font-style: italic;
}
p{
	font-family: Georgia;
	font-size: 11pt;
	text-align: justify;
	text-indent: 15px
}
#topstories{
	font-family: Georgia;
	font-size: 13pt;
	font-style: italic;
	text-align: left
}
h3{
	font-family: Georgia;
	font-size: 12pt;
	text-align: left
}
#otherstories{
	font-family: Georgia;
	font-size: 13pt;
	font-style: italic;
	text-align: left
}
footer{
	background-color: white;
}
#contactinfo{
	font-family: Georgia;
	font-size: 9pt;
	font-style: italic;
	text-align: left
}
div{
	font-family: Georgia;
	font-size: 8pt;
	text-align: left
}